.dot {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
}
.gambar{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
}   

.html,body{
    height: 100%;
}

/* col-6 itu sama aja kayak width: 50% */
/* .form{
    width: 50%;
} */
.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    /* height: 100%; */
    height: 100vh;
    border-style: dotted;
    background-color: aqua;
}

.ortuButton{
    width: 100%;
}

@media (min-width:0px) and (max-width : 450px){
    .box{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}